.bachu{
  border: 1px solid rgb(235, 231, 231);
  border-radius: 145px;
  height: 48px;
  width: 80px;
  text-align: center;



}
.bachu:hover{
  background-color: rgb(235, 231, 231);
}


.l{
  padding:0px 0px 0px 0px;
  margin: 0px 31px -1px -14px;

}
.logo1{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.s{
  margin: 8px 0px 0px 0px;
}
.kg{
  display: flex;
  flex-direction: column;
}

:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  

}

.pin_container {
  margin: 0;
  padding: 0;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;

}
.card {
  padding: 0;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
 
}

.card_small {
  grid-row-end: span var(--card_small);
}

.card_medium {
  grid-row-end: span var(--card_medium);
}

.card_large {
  grid-row-end: span var(--card_large);
}


.ma{
  margin:50px 40px  -10px -260px;
  padding: 20px 20px 20px 20px;

}